.main {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 10px 1fr 10px;
  min-height: 100vh;
  padding: 0;
}

.map {
  display: flex;
  grid-area: 1 / 1 / -1 / -1;
  position: relative;
  z-index: 0;
}

.sidebar {
  background: white;
  border-radius: 8px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: min-content;
  max-width: 420px;
  padding: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}
